################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Outreach Reporting System/Outreach Reporting System/Properties/PublishProfiles/CustomProfile.pubxml
